<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>XP Archive</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">

      <nav class="navigate">
        <img src ="/assets/XP-Archive.png" width='280px' height='280px'>
        <h1 id="bars">
          <a class="game" href="/">Home</a>
          <!-- Conditionally render login or logout links -->
          {{#if logged_in}}
          <a class="game" href="/profile">Profile</a>
          <a class="game" id="logout">Logout</button>
            {{else}}
            <a class="game" href="/login">Login</a>
            {{/if}}
        </h1>
        <div class="gaming">
  <img src ="https://assets.xboxservices.com/assets/2f/dd/2fdd2656-a979-4c24-9b92-599efee158f8.jpg?n=Fortnite_Sneaky-Slider-1084_Ch5-S2_1600x675_01.jpg" width="500px" height ="220px">  
  <img src ="https://store-images.s-microsoft.com/image/apps.608.13850085746326678.a9b1e0db-29d0-40f3-a86c-2155353d053c.bc981608-3fa4-4929-82ff-b162b8788784?q=90&w=480&h=270" width="400px" height ="220px">
  <img src ="https://img.redbull.com/images/c_limit,w_1500,h_1000,f_auto,q_auto/redbullcom/2020/6/5/ctsejxmdtw9inp8zqqqd/red-bull-campus-clutch-valorant-agents" width="500px" height="220px">
  <img src ="https://media.graphassets.com/resize=fit:clip,height:720,width:1280/output=format:webp/5oPZyiFQ3qmS83SjK8Ku" width="400px" height ="220px">
</div>
      </nav>
    </header>
    <main class="container container-fluid mt-5">
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
    <footer class="bottom">
      <h4>
        Wild Coders </br />
        Copyright© 2024
    </footer>
  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>