<!-- Loop over each object in the projects array -->
<h4>Welcome to XP Archive! <br />
  Gain Experience points with every game you play, and review them after you complete the game! <br />
  Sign up today to join the community of checking out games based on your favourite genre and gain lvls experiencing new
  games out now or games you have not played!</h4>

<h3>Gain XP and unlock Perks! <br /> Enjoy the adventure! <br /> Rate the game after completion! <br /> Let's GAME!!!!</h3>

<h5><a href="/login">SIGN UP!</a> or <a href="/login">LOGIN!</a></h5>