a {
  color: red;
}

.navigate {
  display: flex;
  flex-direction: column;
}
.game {
  display: flex;
  
}

h2 {
  color: red;
}

label{
  color: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
}

.game :hover {
  background-color: rgb(252, 197, 197)
}

p {
  color: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
}

div {
  background-color: rgb(65, 64, 64);
}

nav :hover {
  background-color: rgb(255, 206, 206);
  color: black;



}
.form-group {
  display:flex;
  flex-direction: column;
  
}


header, .project:not(:last-child) {
  border-bottom: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
