a {
  color: red;
}

.navigate {
  display: flex;
  flex-direction: column;
}

.game {
  display: flex;
  flex-direction: column;

}



#bars {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

h2 {
  color: red;
}

h3 {
  color: rgb(248, 207, 129);
  text-align: center;
}

h4 {
  color: orange;
  text-align: center;
}

h5 {
  color: yellow;
  text-align: center;
}

label {
  color: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
}


p {
  color: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
}

div {
  background-color: rgb(65, 64, 64);
}

nav :hover {
  background-color: rgb(255, 206, 206);
  color: black;
}

#logout {
  color: red;
  border: none;
  font-weight: bold;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
  appearance: button;
  margin-bottom: -25px;
  margin-right: 100px;
  margin-top: 30px;
}

button,
[type='button'],
[type='reset'],
[type='submit'] :hover {
  background-color: rgb(241, 197, 1);
}


.form-group {
  display: flex;
  flex-direction: column;

}

.bottom {
  display: flex;
  justify-content: center;
  align-items: center;
}

header,
.project:not(:last-child) {
  border-bottom: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

input,
select,
textarea,
button {
  margin: 30px;
  font-family: inherit;
  font-size: 119%;
  font-weight: bold;
}

p {
  font-size: 1.3rem;
  margin: 0 0 1rem;
  line-height: 1.5;
}

.gaming {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mt-4 {
  margin-top: -0.625rem;
}